html,
body {
  height: 100%;
}

/* wrap */
.wrap {
  overflow-x: hidden;
}

/* header */

.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.header .logo {
  color: #343434;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: 3px solid #f8f8f8;
}

/*在PC上隱藏漢堡選單、漢堡選單樣式*/
.header .showmenu {
  display: block;
  position: relative;
  height: 48px;
  width: 48px;
}

@media (min-width: 768px) {
  .header {
    display: block;
  }

  .header .logo {
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 1;
  }

  .header .showmenu {
    display: none;
  }

  #navbarContent {
    display: block;
  }
}

/* 選單三條線 */
.showmenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #343434;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.3s;
}

/* second line */
.showmenu span:nth-child(1) {
  width: 15px;
}

.showmenu span:nth-child(2) {
  transform: translateY(-10px);
}

/* bottom line */
.showmenu span:last-child {
  transform: translateY(10px);
}

/* 漢堡選單變化 */

.showmenu.show span:first-child {
  opacity: 0;
}

.showmenu.show span:nth-child(2) {
  transform: rotate(220deg);
}

.showmenu.show span:last-child {
  transform: rotate(-220deg);
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.menu .menu-link {
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #c7b3b6;
  font-weight: bold;
  transition: 0.3s all;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

.menu .menu-link:hover,
.menu .menu-link:focus,
.menu .menu-link.active {
  color: #343434;
  border-bottom: 3px solid #907273;
}

/* Banner */

.banner {
  background-image: url("https://i.imgur.com/KfUmCKk.jpg");
  background-position: 40% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

@media (min-width: 768px) {
  .banner {
    height: 500px;
  }
}

/* section */
.section {
  background-color: #dccdbb;
}

/* content-list */

.content-list {
  padding: 2rem;
  margin-bottom: 0;
  list-style: none;
}

.content-list .title {
  position: relative;
  writing-mode: vertical-lr;
  font-weight: bold;
  font-size: 2rem;
}

.content-list .title:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 6px solid #bc9a8f;
}

.content-list .content-item {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .content-list .content-item {
    width: 25%;
    margin-bottom: 0px;
  }
}
